# Copyright (c) 2005, 2019, Oracle and/or its affiliates.  All righs reserved.
ORACLE_HOME={{ oracle_home }}
LOCAL_NODE=<host>
HOME_TYPE=SIDB
ORACLE_BASE={{ oracle_base }}
ORACLE_HOME_VERSION=19.0.0.0.0
ObaseCleanupPtrLoc={{ tmpclnuplst }}
DBCA_LOG.<sidl>={{ oracle_base }}/cfgtoollogs/dbca/<sidl>
ORACLE_BASE.<sidl>={{ oracle_base }}
DATAFILE_LOC.<sidl>={{ dataloc1 }}/<sid1>,{{ dataloc2 }}/<sidl>, {{ dataloc3 }}/<sidl>
silent=false
ARCHIVE_LOG_MODE_ENABLED.<sidl>=true
MinimumSupportedVersion=11.2.0.1.0
LOGDIR={{ tmplogdir }}
ORACLE_HOME_VERSION_VALID=true
LOCAL_SID.<sidl>=<sidl>
ORACLE_BINARY_OK=true
OPERATION_TYPE.<sidl>=DELETEDB
inst_group=dcs.oinstall
EMCA_LOG.<sidl>={{ oracle_base }}/cfgtoollogs/emca/<sidl>
NODE_LIST.<sidl>=<host>
inventory_loc={{ oracle_base }}/oraInventory
UNIFIED_AUDIT_LOC.<sidl>={{ oracle_base }}/audit
SID_LIST.<sidl>=<sidl>
DUMP_DESTINATION_LOC.<sidl>={{ oracle_base }}/admin/<sidl>
local=false
INVENTORY_LOCATION={{ oracle_base }}/oraInventory
STORAGE_TYPE.<sidl>=FS
NETCA_LOCAL_LISTENERS=<lsnr>
RAW_MAPPING_FILE.<sidl>=
ORACLE_HOME={{ oracle_home }}
CRS_HOME=false
ORACLE_BASE_CONFIG.<sidl>={{ oracle_home }}/dbs
SPFILE_LOC.<sidl>={{ oracle_home }}/dbs/spfile<sidl>.ora
DIAG_DEST.<sidl>={{ oracle_base }}/diag/rdbms/<sidl>
CONFIGFILE_LOC.<sidl>-{{ dataloc1 }}/<sidl>/ctl/*.ctl,{{ dataloc2 }}/<sidl>/ctl/*.ctl,{{ dataloc3 }}/<sidl>/ctl/*.ctl
DB_TYPE.<sidl>=SI_DB
FLASH_RECOVERY_LOC.<sidl>={{ dataloc2 }}/<sidl>/fast_recovery_area/<sidu>
CREATION_MODE.<sidl>=y
DB_UNIQUE_NAME_LIST=<sidl>
